{% extends 'base.html' %}
{% load filters %}

{% block content %}
		<div class="row">
				{% for employee in employees %}
					<div class="col-md-4">
						<a href="/employee/{{employee.number}}/">
						<span class="link-spanner"></span>
						</a>
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="panel-title pull-left">
									{{ employee.lastName }}, {{ employee.firstName }}
								</div>
								<div class="panel-title pull-right">
									<span>
										{{ employee.number|Presence }}
									</span>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel panel-body">
								<ul class="list-group">
									<li class="list-group-item"> {{ employee.number|lastBooking }} </li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

{% endblock %}
